<!DOCTYPE html>
<html>
<head>

  <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://kit.fontawesome.com/fccafde1b7.js" crossorigin="anonymous"></script>
</head>

<body>
  <div id="title" class="d-flex justify-content-center">
      <h1>Start creating personalized playlists.</h1>
  </div>

<div id="login" class="d-flex justify-content-center">
  <a href="/login" id="login" class="btn btn-primary btn-lg">Login to your <i class="fab fa-spotify"></i> Spotify</a>
</div>


<script type="text/javascript" src="/public/script.js"></script>
</body>
</html>