<!DOCTYPE html>
<html>
<head>

  <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
</head>

<body>
   <div class="container">

      <div id="login">
        <h1>Create your own personalized playlists!</h1>
        
        <a href="/login" id="login" class="btn btn-primary btn-lg ">Log in with Spotify</a>
      
      </div>
      <h1>Playlist Selected: <%=playListName %></h1>
    </div>
    <!-- <div class="contatiner">
      <form action="/"

    </div> -->
   
    <script type="text/javascript" src="/public/script.js"></script>
</body>
</html>