
body{
    background: rgb(83,81,105);
    background: linear-gradient(90deg, rgba(83,81,105,0.5236304012345678) 0%, rgba(52,182,33,1) 30%, rgba(23,119,9,1) 100%);
} 

#title{
    margin-top: 4%;
    background:grey;
    color:white;
}