
body{
    background: rgb(83,81,105);
    background: linear-gradient(90deg, rgba(83,81,105,0.5236304012345678) 0%, rgba(52,182,33,1) 30%, rgba(23,119,9,1) 100%);
} 

#title{
    margin-top: 2%;
    color:white;
}

.imagecontainer {
    position: relative;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.imagecontainer:hover .overlay {
    opacity: 1;
  }
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height:auto;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #656e73;
  }
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
